//
//  Config.xcconfig
//  spraytest
//
//  Created by Dominic O. Ighedosa on 6/18/21.
//  Copyright © 2021 Ighedosa, Dominic. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//9D8ED11F-CD8A-4E47-B1AC-B188AA8C032A
API_KEY = 9D8ED11F-CD8A-4E47-B1AC-B188AA8C032A
KEY256 = CHqcPp7MN3mTY3nF6TWHdG8dHPVSgJBj
KEYIV = F5cEUty4UwQL2EyW
STRIPEAPI_PUBLISHABLEKEY = pk_test_51I4w7tH6yOvhR5k1FrjaRKUcGG3LLzcuTx1LOWJj6bprUylHErpYHXsSRFxfdepAxz3KDbPLp2cDjpP54AWdc9qG00C8jcO2o4
